h1 {
  color: #dc5;
  font-size: 300%;
  font-family: "Lucida Calligraphy", cursive;
  border-top: #f52 double 6px;
  border-bottom: #f52 double 6px;
  text-align: center;
}
h2{
  text-align: center;
}
button{
  background-color: #eed;
}
.container {
  padding-left: 60px;
  padding-right: 60px;
  display: grid;
  grid-gap: 75px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(1, 300px) 30px;
  grid-template-areas:
    "one two"
    "nav nav";
}

#article-name-one {
  background-image: url(../images/leaf-background.jpg);
  background-repeat: no-repeat;
  grid-area: one;
  padding-left: 20px;
  background-color: #fff;
  border: 2px solid #999;
  width: auto;
  height: 300px;
}

#article-name-two {
  background-image: url(../images/leaf-background.jpg);
  background-repeat: no-repeat;
  grid-area: two;
  background-color: #fff;
  border: 2px solid #999;
  width: auto;
  height: 300px;
}

.popular {
  grid-area: nav;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#english {
  order: 2;
  padding-right: 200;
  border: 2px solid #9a6;
}

#spanish {
  order: 1;
  border: 2px solid #9a6;
}
